<div class="container">
	<div class="row top-buffer">
		<div class="col-md-12 text-center">
			<h1>Search for your books</h1>
		</div>
	</div>
</div>

<div class="container">
	<div class="row top-buffer">
		<div class="col-md-4 col-md-offset-4">
				<input class="form-control" id="searchParams" type="text" name="searchParams"><br><br>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<button class="btn btn-success btn-lg" id="button" type="button">Search</button>
			<button class="btn btn-primary btn-lg" id="reset" type="buton">Reset</button>
	
		</div>
	</div>

</div>

<div class="container">
	<div class="row top-buffer">
		<div class="results_container col-md-4 col-md-offset-4">
 				<ul class="search_results text-center">
 				</ul>
		</div>
		<div class="description col-md-4"></div>
	</div>
</div>