<h3>Book Results</h3>

<input class="form-control" id="searchParams" type="text" name="searchParams"><br><br>

<button class="btn btn-success btn-lg" id="button" type="button">Search</button>
<button class="btn btn-primary btn-lg" id="reset" type="buton">Reset</button>

<div class="results_container">
 			<ul class="search_results">
 				
 			</ul>
</div>